/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Mar, 2016, 1:09:58 PM
    Author     : user
*/
  
.exit-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.exit-btn { 
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
}
.exit-btn-2 {
    padding: 25px 60px 25px 120px;
    border-radius: 20px;
}
.exit-btn-2 {
    background-color: #6f5499;
    color: #fff;
}
.exit-btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 0px;
    width: 60px;
}
.exit-btn-2:before {
    border-right: 2px solid rgba(255,255,255,0.5);
    content: "\e017";
    font-family: 'Glyphicons Halflings';
}